<footer>
    <div class="page__header page-header">
        <img class="introduction__img introduction__img--desktop" src="../img/logo/Your_Devops_Mentor.svg"
             alt="your devops mentor logo">
        <div class="page-header__inner">
            <nav class="page-header__nav main-nav">
                <a href="#" class="main-nav__sections">Home</a>
                <a href="#" class="main-nav__sections">Blog</a>
                <a href="#" class="main-nav__sections">FAQ</a>
                <a href="#" class="main-nav__sections">Careers</a>
                <a href="#" class="main-nav__sections">Apply</a>
            </nav>

            <div class="social__logo logo">
                <img class="logo__instagram" src="../img/icons/Icons%20Instagram.png"
                     alt="instagram logo">
                <img class="logo__email" src="../img/icons/Icons%20Email_.png"
                     alt="email logo">
                <img class="logo__phone" src="../img/icons/Icons%20Phone.png"
                     alt="phone logo">
                <img class="logo__twitter" src="../img/icons/Icons%20Twitter.png"
                     alt="twitter logo">
            </div>
        </div>
    </div>
</footer>